/*Custom styles to override the default panel styles*/
[aria-labelledby='onboarding-guide'] {
  top: 55px;
  bottom: 25px;
  right: 65px;
  border-radius: 6px;
  width: 480px;
  height: auto;
  animation: euiModal 350ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

@media only screen and (max-width: 574px) {
  [aria-labelledby='onboarding-guide'] {
    right: 25px;
    width: 100%;
  }
}

[aria-labelledby='onboarding-guide'] .euiProgress__valueText, 
[aria-labelledby='onboarding-guide'] .euiProgress__label {
  color: #69707d;
  font-size: 12px;
}

[aria-labelledby='onboarding-guide'] .euiFlyoutBody__overflowContent {
  width: 480px;
  padding-top: 10px;
}

@media only screen and (max-width: 574px) {
  [aria-labelledby='onboarding-guide'] .euiFlyoutBody__overflowContent {
    right: 25px;
    width: 450px;
  }
}

[aria-labelledby='onboarding-guide'] .euiFlyoutFooter {
  border-radius: 0 0 6px 6px;
  background: #fff;
  padding: 24px 30px;
}

[aria-labelledby='onboarding-guide'] .euiAccordion__buttonContent {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

[aria-labelledby='onboarding-guide'] .euiAccordion {
  color: #646a77;
}

[aria-labelledby='onboarding-guide'] .euiAccordion__iconButton {
  color: #69707d; 
}

[aria-labelledby='onboarding-guide'] .euiAccordion-isOpen {
    color: #343741;
}

.euiAccordion__iconButton.euiAccordion__iconButton-isOpen {
  color: #343741; 
}

@media only screen and (max-width: 574px) {
  [aria-labelledby='onboarding-guide'] .euiFlyoutBody__overflowContent {
    width: 100%;
  }
}

.euiOverlayMask {
  background: rgba(0, 0, 0, 0.4);
}

/* accordion animation styles */
@media only screen and (max-width: 574px) {
  .euiAccordion__triggerWrapper {
    width: 100%;
  }
}

@keyframes transitionIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.guideBody.euiBody--headerIsFixed {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
